<h1 class="title animated jackInTheBox">{{ title }}</h1>

<p class="text-center" *ngIf="todos.length==0"><small>Você não possui nenhuma tarefa!</small></p>

<ul class="animated flipInX" *ngIf="mode=='list'">
  <li *ngFor="let tarefa of todos">{{ tarefa.msg }} - 

  <button *ngIf="!tarefa.done" (click)="finalizarTarefa(tarefa)"><i class="fa fa-check"></i> Concluir</button> 
  <button *ngIf="tarefa.done" (click)="refazerTarefa(tarefa)"><i class="fa fa-undo"></i> Refazer</button>  

  <button (click)="removeTarefa(tarefa)"><i class="fa fa-trash"></i> Remover</button></li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <h1>Nova Tarefa</h1>
  <form [formGroup]="form">
      <input type="text" maxlength="60" formControlName="msg" placeholder="Sua tarefa">
      <small class="danger" *ngIf="form.controls.msg.invalid && !form.controls.msg.pristine">Este campo deve conter entre 3 e 60 caracteres <br></small>
      <p class="text-center">
        <button class="button" [disabled]="form.invalid" (click)="add(tarefa)"><i class="fa fa-save"></i> Salvar</button>
      </p>
  </form>
</div>

<br>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fa fa-plus-circle"></i>
  Nova Tarefa
</button>

<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fa fa-times"></i>
  Cancelar
</button>